/* Layout of subsection boxes and their contents */

/* An h1 section layout block (grid item) can contain multiple h2 poster blocks that are automatically spaced */
/* The header does not have the class .section, so it will not be selected by this rule */
.slides > .section {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	flex: 1 1 auto;
}

:root {
	--block-padding: 1rem;
	--h2-height: 3rem;  /* 2 * h2 */
	--bullet-spacing: calc(2/3 * var(--block-padding));
	--inter-block-spacing: 1rem;
}

.slides .level2 h2 {
	--h2-padding: var(--block-padding);
	--h2-border-radius: var(--h2-padding);
	width: 100%;
	height: var(--h2-height);
	vertical-align: middle;
	color: white;
	background: linear-gradient(to left, var(--other-color-for-h2-gradient), var(--header-color));
	border-radius: var(--h2-border-radius);
	padding: calc(var(--h2-padding)/2) var(--h2-padding);
	box-sizing: border-box;
	margin: calc(-1/2 * var(--h2-height)) auto 0 auto;  /* Move h2 into the center of the top border */
}

.slides .level2 { 
	border-radius: var(--block-padding);
	padding: 0 var(--block-padding) var(--block-padding) var(--block-padding);
	box-sizing: border-box;
	margin-top: calc(1/2 * var(--h2-height) + var(--inter-block-spacing));  /* Technically might need the border, too */
	/* Chrome is not handling the background opacity correctly when printing: https://bugs.chromium.org/p/chromium/issues/detail?id=226137 */
	/* background-color: rgba(255, 255, 255, 0.9); */
	/* background-color: rgb(224, 222, 222); */ /* NEW: consider if we want to blend with background */
	border: 0.25cm solid var(--header-color);
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;  /* space between columns */
	align-content: flex-start;
}

.level1 {
	margin-top: 0;  /* These should only be pseudo-type structures to set up the grid; no intrinsic spacing */
}

.slides .level2:only-of-type {
	/* If there is only one block, stretch it, because there are no adjacent elements for space-between */
	flex-grow: 1;
}

.level1 h1 {
	/* An h1 tag is still generated when using # {.col-2}, etc. specification for a block. */
	/* For now, let's ignore these h1 tags, but later these could be stylized for overall section headings, etc. */
	/* It might also be interesting to set the background-color of the section, which is a .level1 block */
	display: none;
}

p, pre, ul, .figure {
	flex: 45%;
	box-sizing: border-box;
}

pre {
	min-width: 0;  /* Fixes a flexbox incompatibility for pre, per recommendation from http://stackoverflow.com/questions/32035406/how-to-limit-pre-tag-width-inside-flex-container */
}

img {
	width: 100%;  /* Make it fit inside the 2-column, etc, flexbox */
	height: auto;
	background-color: white;  /* Eliminate transparency for consistency among all images with non-white backgrounds */
	/*border: 0.1cm solid black;*/  /* Address the lack of transparency with borders, which isn't necessary if the background is white */
}

h3 {
	flex: 100%;
}

.fullwidth {
	flex: 100%;
}

/* Nudge the li bullet points closer to the content (partway into the padding) while keeping the text aligned */
ul {
	list-style-type: none;
	margin-left: calc(-1 * var(--bullet-spacing));
	padding-left: var(--bullet-spacing);  /* Allocate room within the ul block for li::before to move left */
}
ul li::before {
	content: "\2022";
	display: inline-block;
	margin-left: calc(-1 * var(--bullet-spacing));
	width: var(--bullet-spacing);
}
